.header__picture {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 36px;
}

.header-logo {
  max-width: 150px; /* Adjust the max-width as needed */
  height: auto; /* Ensure the aspect ratio is maintained */
}